Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-nullability.*,
  bugprone-use-after-move,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|apps)/'
FormatStyle: file
